/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Cactus";
  src: local("assets/cactus_regular.otf"),
    url("https://henrymedia.dk/cactus_regular.otf");
}

:root {
  --white: #f7f7f4; /*FOAM WHITE*/
  --black: #1f1f20; /*INK BLACK*/
  --primary-color: #dfbd8a; /*Burlywood*/
  --secondary-color1: #ad5800; /*Windsor Tan*/
  --secondary-color2: #fff0db; /*Papaya Whip*/
  --complementary-color: #8aacdf; /*Light Cobalt Blue*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  font-family: "Cactus", sans-serif;
  line-height: 1.2;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Cactus", sans-serif;
  line-height: 1.2;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Cactus", sans-serif;
  line-height: 1.2;
}

/* PRELOADER  */

.preloader {
  position: relative;
  background: var(--white) url(assets/preloader.svg) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s;
}

.preloader-fade {
  opacity: 0;
}

/*VIDEO FULLSCREEN HERO*/

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.content {
  z-index: 2;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--xd);
  color: var(--white);
  border-radius: 0px;
  border: solid var(--white) 1px;
  margin-top: 10px;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.btn:hover {
  transform: scale(0.98);
}

/*MAIN*/

.section-type-1 {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5rem;
}

/*CHANGE STUFF HERE XDDDD*/
.section-type-2 {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5rem;
}

/* NAVIGATION */

#navbar {
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 0.5em;
  transition: top 1s;
  position: fixed;
}

#navbar a {
  color: var(--white);
  font-size: 1rem;
  margin-left: 5rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
}

.img-hover {
  transition: transform 1s ease-in-out;
  width: 100px;
  filter: invert(1);
}
.img-hover:hover {
  transform: scale(0.9);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
}

#navbar a:hover {
  color: var(--primary-color);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--white);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 7.5em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3em;
    padding: 0.5em;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    color: var(--white);
    background-color: var(--black);
  }
  #navbar a {
    color: var(--white);
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
  }
}

/*FOOTER*/

footer {
  color: var(--white);
  background-color: var(--black);
  height: 20rem;
  padding: 5rem;
}
